.container {
  display: flex;
  width: 100vw;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  border: #464646 solid 3px;
}

.p {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-left: 1rem;
  color: #949494;
  height: 70%;
  width: 36%;
  border-radius: 10px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}

.iconContainer {
  display: flex;
  width: 15%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  margin-right: 1rem;
  border-radius: 10px;
  background-color: #464646;
}

.icon {
  color: #fff;
  height: 2rem;
}
