.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  flex-wrap: nowrap;
}

.img {
  display: flex;
  width: 60%;
  object-fit: contain;
}
