.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border: #907acc solid 3px;
  border-radius: 40px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  flex-wrap: nowrap;
  overflow: hidden;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
  color: #adadad;
  word-spacing: 0px;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0, 0.8);
}

.img {
  display: flex;
  width: 20%;
  object-fit: contain;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
