.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90%;
  width: 80%;
  box-sizing: border-box;
  border: #6649b8 solid 3px;
  border-radius: 40px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.img {
  display: flex;
  width: 30%;
  object-fit: contain;
}
