@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@font-face {
  font-family: "StripedShadow";
  src: url("./assets/fonts/Radiantantique-2reo.ttf") format("truetype");
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.spanContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.title {
  position: absolute;
  left: 0;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Russo One", sans-serif;
  font-weight: 600;
  font-size: 12rem;
  color: var(--font-color);
  z-index: 50;
  letter-spacing: 0px;
  word-spacing: 0px;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0, 0.8);
  /* transform: matrix(1, 0, 0.2, 1, 0, 5); */
}

.middleTitle {
  top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Russo One", sans-serif;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: 0px;
  word-spacing: 0px;
  position: absolute;
  width: 100%;
  font-size: 12rem;
  color: #00000081;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.219);
  /* transform: matrix(1, 0, 0.2, 1, 5, 5); */
  /* color: #49023d; */
  z-index: 49;
}

.developer {
  top: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Russo One", sans-serif;
  font-weight: 600;
  position: absolute;
  width: 100%;
  font-size: 12rem;
  color: var(--font-color);
  letter-spacing: 5px;
  word-spacing: 0px;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0, 0.8);
  /* transform: matrix(1, 0, 0.2, 1, 0, 5); */
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  gap: 5%;
  border-top: #907acc solid 3px;
}

.henryContainer {
  display: flex;
  width: 45%;
  height: 30%;
}

.Henry {
  display: flex;
  height: 100%;
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 70%;
}

.img {
  height: 100%;
  width: 100%;
}

.h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Russo One", sans-serif;
  font-weight: 600;
  width: 100%;
  font-size: 5rem;
  color: var(--font-color);
  word-spacing: 0px;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0, 0.8);
}

.aboutP {
  display: flex;
  text-align: center;
  font-weight: 900;
  width: 100%;
  font-size: 2rem;
  color: var(--font-color);
  word-spacing: 0px;
}

.sliderContainer {
  display: flex;
  height: 85%;
  justify-content: center;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14%;
  gap: 5%;
}

.TimeLapseContainer {
  height: 50%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact {
  color: var(--font-color);
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: underline #907acc 2px;
}

/*
!Medias query zone
*/

@media (max-width: 400px) {
  .h3,
  .title,
  .middleTitle,
  .developer {
    font-size: 5rem;
    flex-direction: column;
    height: 50%;
  }

  .developer {
    top: 45%;
    font-size: 3rem;
  }

  .TimeLapseContainer {
    height: 45%;
  }
}
