.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
}

.subContainer {
  display: flex;
  margin: auto;
  position: relative;
  width: calc(100vw - 6rem);
  height: calc(100% - 15vh);
  margin-left: 6rem;
  align-items: center;
  overflow: hidden;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  height: auto;
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  gap: 5%;
  color: #777777;
  padding-right: 15px;
}

.ol {
  display: flex;
  margin: 2% auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
  width: 80%;
  gap: 5%;
}

.h4 {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  color: #afafaf;
}

.liOl {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  width: 20%;
  margin: 1% 0;
  padding: 1.5%;
  border: #464646 solid 3px;
  transition: all 200ms;
}

.liOl:hover {
  color: #c0c0c0;
  background-color: #5e7a8a9f;
  transform: scale(1.2);
}

.li {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: #464646 solid 3px;
  gap: 5px;
}

.h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
}

.p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}
