.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 8vh);
  border-top: #464646 solid 3px;
  border-right: #464646 solid 3px;
  width: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 8vh;
  min-width: fit-content;
  align-items: center;
  justify-content: space-around;
  background-color: #232323;
  transition: width 200ms ease;
  z-index: 100;
}

.container:hover {
  width: 8rem;
}

.Link {
  display: flex;
  width: 100%;
  height: 20%;
}

.icons {
  display: flex;
  flex-direction: column;
  z-index: 200;
  color: #fff;
  height: 100%;
  width: 100%;
  transition: all 200ms;
  object-fit: contain;
  gap: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  display: flex;
  opacity: 0;
  transition: all 200ms;
}

.icons:hover {
  background-color: #464646;
  display: flex;
}

.icons:hover > .text {
  opacity: 1;
  text-decoration: underline;
}

.svg {
  height: 2.2rem;
  width: 5rem;
}
